@base: #07090E;
@complementary: #BF655E;
@grey: #777;

@background-color: @base!important;
@iconColor: @complementary;
@iconHoverColor: @grey;
@menuTextColor: @grey;
@menuFill: fade(@grey, 10%);
@menuStroke: @grey;
