body,
#background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#background{
  background-image:
    repeating-linear-gradient(90deg, black, transparent 1px, transparent 20px),
    repeating-linear-gradient(180deg, black, transparent 1px, transparent 20px);
}

#menu{
  position: absolute;
  top: 20px;
  left: 20px;
}

.position {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.move{
  position: absolute;
  z-index: 1;
}

.move.top-right {
  background:
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

.move.top-left {
  background:
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
