* {
  box-sizing: border-box;
}

.menu,
body {
  background-color: black;
  -webkit-user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.menu {
  display: none;
  background-color: transparent;
  font-family: monospace;
  font-size: 35px;
  text-align: center;
}

.container {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
}

.createMapButton {
  background-color: black;
  color: teal;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
}

.mapDiv {
  margin-top: 20px;
}

img {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}
