.menuClickZone {
  position: absolute;
  width: 30vw;
}

.menuClickZone-small {
  width: 15vw;
}

.menuClickZone .icon {
  opacity: 0.1;
  color: white;
}

.menuClickZone-topLeft{
  top: -10px;
  left: -10px;
}

.menuClickZone-topRight{
  top: -10px;
  right: -10px;
  transform: rotate(0.25turn);
}

.menuClickZone-enabled .icon{
  opacity: 1;
}

.menuClickZone-enabled .icon:hover{
  cursor: pointer;
  color: gray;
}

.menuBottom{
  position: absolute;
  bottom: -32vw;
  width: 100%;
  text-align: center;
}

.menuBottom svg {
  width: 50%;
}

.menuElement{
  position: absolute;
  fill: rgba(0, 128, 128, 0.2);
  stroke: white;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

.icon path{
  vector-effect: non-scaling-stroke;
  fill: currentColor;
}

.icon-top{
  position: absolute;
  left: 10%;
  top: 10%;
  width: 20%;
}

.svgMenu {
  pointer-events: none;
}

.svgMenu svg > * {
  pointer-events: auto;
}
