.mainMenu {
  text-align: center;
  padding-top: 10vw;
}

.titleText {
  font-size: 10vw;
  margin-bottom: 5vw;
}

.mainMenuButton {
  height: 10vw;
  width: 10vw;
  font-size: 2vw;
}

.mainMenuButton + * {
  margin-left: 2vw;
}
